
:root {
    --back:#141414;
    --red: #E50914;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base elements*/

body {
    background-color: var(--back);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 10px;
}

header .logo{
    color: #E50914;
    font-family: 'Arial Black', Times;
    font-size: 35px;
}
header nav a{
    text-decoration: none;
    color: var(--text_white);
    color: #fff;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 17px;
}

header nav a:hover{
    color: #AAA;
}

/*Main Film*/
.main-film{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.900), rgba(0, 0, 0, .300) 100%), url('/img/saul-banner.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-film .description{
    margin-bottom: 50px;
}

.title{
    font-size: 40px;
}